* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center, .nosotros span p {
  text-align: center;
  text-align: justify;
}

header {
  background-color: rgba(190, 143, 235, 0.856);
  height: 230px;
  width: 100%;
  padding: 60px;
}
header span .nombre {
  text-align: center;
  font-size: 95px;
  justify-content: center;
  text-decoration: solid;
  font-family: cursive;
  color: rgba(24, 2, 44, 0.644);
}
header nav ul li {
  text-align: right;
  text-decoration: rgb(224, 90, 224);
  display: inline-block;
  text-decoration: solid;
  font-size: 30px;
}
header .logo {
  float: left;
}

main {
  height: 800px;
  width: auto;
  background-color: rgba(81, 0, 156, 0.568);
  background-image: url(../imagen/watercolour-1631417_640.jpg);
  background-position: center;
  background-size: cover;
}
main div h1 {
  color: rgb(24, 2, 44);
  text-align: center;
  font-size: 80px;
  justify-content: center;
}

.imagenes {
  margin-top: 50px;
  margin-left: 350px;
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: 250px 250px;
  grid-template-areas: "anillo arito" "pulsera difusor";
  grid-gap: 100px;
}

.arito {
  background-image: url(../imagen/arito.webp);
  background-position: center;
  background-size: cover;
}

.arito:hover {
  transform: scale(0.9);
}

.anillo {
  background-image: url(../imagen/anillo.webp);
  background-position: center;
  background-size: cover;
}

.anillo:hover {
  transform: scale(0.9);
}

.pulsera {
  background-image: url(../imagen/pulsera.webp);
  background-position: center;
  background-size: cover;
}

.pulsera:hover {
  transform: scale(0.9);
}

.difusor {
  background-image: url(../imagen/difusor.webp);
  background-position: center;
  background-size: cover;
}

.difusor:hover {
  transform: scale(0.9);
}

.nosotros span p {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  color: rgb(24, 2, 44);
  text-align: solid;
}

.productos span {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tienda div h1 {
  font-size: 50px;
}

.contacto h1 {
  margin-bottom: 35px;
}
.contacto div p {
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
  color: rgb(24, 2, 44);
}
.contacto .formulario form {
  text-align: center;
  font-size: 30px;
}

footer {
  background-color: rgba(190, 143, 235, 0.856);
  height: 50px;
  width: auto;
  text-align: center;
}

.copy {
  font-size: 15px;
  color: beige;
}

.ig a {
  font-size: 25px;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  header {
    height: 15%;
    padding: 15px;
  }
  header span .nombre {
    font-size: 55px;
  }
  header span .nombre nav ul li {
    font-size: 16px;
  }
  main {
    height: 250vh;
  }
}
main .imagenes {
  margin-left: 20%;
  margin-right: 20%;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: "anillo" "arito" "pulsera" "difusor";
  grid-gap: 10px;
}

.nosotros span p {
  color: rgb(63, 17, 100);
  font-size: 25px;
}

main .nosotros {
  height: 550vh;
}

.contacto div p {
  font-size: 20px;
}

/*# sourceMappingURL=estilo.css.map */
