*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
        background-color: rgba(190, 143, 235, 0.856);
        
        height: 180px;
        width: 100%;
        padding: 60px;
        
    
    h1{
        color: rgba(24, 2, 44, 0.644);
        text-align: center;
        font-size: 100px;
        justify-content: center;
    }




    .logo{
        float: left;
        
        
        
    }
}


main{
    height: 700px; width: auto;
    background-color: rgba(81, 0, 156, 0.568);
    background-image: url(../imagen/watercolour-1631417_640.jpg);
    background-position: center;
    background-size: cover;
    
    div ul li{
            text-decoration: rgb(224, 90, 224);
            text-align: center;
            display: inline-block;
            text-decoration: solid;
            font-size: 35px;
            
    }
    .imagenes{
        margin-top: 50px;
        margin-left: 350px;
        display: grid;
        grid-template-rows: 250px 250px;
        grid-template-columns: 250px 250px;
        grid-template-areas: 
        "anillo arito"
        "pulsera difusor";
        grid-gap: 100px;

    }
    .arito{
        background-image: url(../imagen/arito.webp);
        background-position: center;
        background-size: cover;
    }

    .arito:hover{
        transform: scale(0.9);
        
    }
    .anillo{
        background-image: url(../imagen/anillo.webp);
        background-position: center;
        background-size: cover;
    }

    .anillo:hover{
        transform: scale(0.9);

    }
    .pulsera{
        background-image: url(../imagen/pulsera.webp);
        background-position: center;
        background-size: cover;
    }

    .pulsera:hover{
        transform: scale(0.9);
    }
    .difusor{
        background-image: url(../imagen/difusor.webp);
        background-position: center;
        background-size: cover;
    }
    .difusor:hover{
        transform: scale(0.9);
    }


}


.nosotros{
    div ul li{
        text-align: right;
        display: inline-block;
        text-decoration: solid;
        font-size: 35px;
        
    }
    span p{
        text-align:justify;
        font-size: 25px;
        margin-top: 50px;
        color: blueviolet;
        text-align: solid;
    }
}

.productos{

    div ul li{
        text-align: right;
        display: inline-block;
        text-decoration: solid;
        font-size: 35px;
        
    }
}

.tienda{
    div ul li{
        text-align: right;
        display: inline-block;
        text-decoration: solid;
        font-size: 35px;
        
    }
}
.contacto{

    div ul li{
        text-align: right;
        display: inline-block;
        text-decoration: solid;
        font-size: 35px;
        }

    form{
        text-align: center;
        font-size: 30px;
    }
}




footer{
    background-color: blueviolet;
    height: 50px;
    width: auto;
    text-align: center;
}    
    .copy{
        font-size: 15px;
        color: beige;
    }
    
.ig a{
        font-size: 25px;
    }


    /* inicia las medias queries */


@media only screen and (min-width: 320px) and (max-width: 1024px) {
    
    header{
        height: 15%;
        padding: 15px;
    }
    main{
        height: auto;
    }

    main adv ul il{
        display:inline
        

    }
    main .imagenes{
        margin-left: 20%;
        margin-right: 20%;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px 50px;
        grid-template-areas: 
        "anillo"
        "arito"
        "pulsera"
        "difusor";
        grid-gap: 10px;
    }
    
    .nosotros span p{
        color: rgb(63, 17, 100);
        text-align:justify;
        font-size: 25px;
    }

}
