footer{
    background-color: $color-base;
    height: 50px;
    width: auto;
    text-align: center;
}    
    .copy{
        font-size: 15px;
        color: beige;
    }
    
.ig a{
        font-size: 25px;
    }