header{
    background-color: $color-base;
    
    height: 230px;
    width: 100%;
    padding: 60px;
    

span .nombre{
    color: rgba(24, 2, 44, 0.644);
    text-align: center;
    font-size: 95px;
    justify-content: center;
    text-decoration: solid;
    font-family:cursive;
}
nav ul li{
        text-decoration: rgb(224, 90, 224);
        text-align: right;
        display: inline-block;
        text-decoration: solid;
        font-size: 30px;
        
}



.logo{
    float: left;
    
    
    
}
}