main{
    height: 800px; width: auto;
    background-color: rgba(81, 0, 156, 0.568);
    background-image: url(../imagen/watercolour-1631417_640.jpg);
    background-position: center;
    background-size: cover;
    div h1{
        color: $color-texto;
        text-align: center;
        font-size: 80px;
        justify-content: center;
    }
}