.nosotros{
        
    span p{
        text-align: center;
        text-align:justify;
        font-size: 25px;
        margin-top: 50px;
        margin-left: 75px;
        margin-right: 75px;
        color: $color-texto;
        text-align: solid;
        
    }
}