.contacto{
    h1{
        margin-bottom: 35px;
    }
    div p{ 
        text-align: center;
        font-size: 35px;
        margin-bottom: 15px;
        color: $color-texto;
        
    }
    .formulario form{
        
        text-align: center;
        font-size: 30px;
        
    }
}